
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Сообщение от, <%= @message.name %></h1>
    <p>
    <strong>Контакт: </strong> <%= @message.contact %><br>
    <strong>Модель: </strong> <%= @message.model %><br>
    <strong>Год: </strong> <%= @message.year %><br>
    <strong>Нужна регистрация в ГИБДД: </strong> <%= @message.gibdd ? 'Да' : 'Нет' %><br>
    <strong>Сообщение: </strong><br>
    <%= @message.description %>
    </p>
  </body>
</html>