
<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="background-image:url('<%=@super.image.url%>');" data-img-width="2000" data-img-height="1333" data-diff="100">

    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                    <!-- /.logo -->
                    <div class="logo wow fadeInDown"> <a href="/"><%= image_tag @logo1.image.url, alt: @logo1.description %></a></div>
                    <!-- /.main title -->
                    <h1 class="wow fadeInLeft">
                        <%= @super.description %>
                    </h1>
                    <!-- /.header button -->
                    <div class="head-btn wow fadeInLeft">
                        <a href="" onclick="goGBO(event);" class="btn-primary">Подать заявку!</a>
                    </div>
                    <!-- /.header paragraph -->
                    <div class="landing-text wow fadeInUp">
                    <h1>Осталось:</h1>
                        <%= @super.slave.html_safe %>
                    </div>                

                </div> 

                <!-- /.signup form -->
                <div class="col-md-5">

                    <div class="signup-header wow fadeInUp" id="shadow_style">
                        <h3 class="form-title text-center">ПЕРЕЙТИ НА ГБО</h3>
                        <form class="form-header" action="http://moxdesign.us10.list-manage.com/subscribe/post" role="form" method="POST" id="#">
                            <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                            <input type="hidden" name="id" value="bfdba52708">
                            <div class="form-group">
                                <input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Как к Вам обращаться" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Укажите контакт" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="MERGE1" id="name" type="text" placeholder="Модель машины" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control input-lg" name="MERGE0" id="email" type="text" placeholder="Год выпуска" required>
                            </div>
                            <div class="form-group gibdd-checkbox">
                                Зарегистрировать оборудование в ГИБДД
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox"/>
                                    <label for="someSwitchOptionPrimary" class="label-primary"></label>
                                </div>
                            </div>
                            <div class="form-group last">
                                <input type="submit" class="btn btn-warning btn-block btn-lg" value="ПЕРЕЙТИ">
                            </div>
                            <p class="privacy text-center">Нажимая на кнопку отправить, Вы соглашаетесь с обработкой персональных данных <a href="privacy.html">privacy policy</a>.</p>
                        </form>
                    </div>              

                </div>
            </div>
        </div> 
    </div> 
</div>

<!-- NAVIGATION -->
<div id="menu">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand site-name" href="#top"><%= image_tag @logo2.image.url, alt: @logo2.description %></a>
            </div>

            <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#intro">About</a></li>
                    <li><a href="#feature">Features</a></li>
                    <li><a href="#download">Download</a></li>
                    <li><a href="#package">Pricing</a></li>
                    <li><a href="#testi">Reviews</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- /.intro section -->
<div id="intro">
    <div class="container">
        <div class="row">

            <!-- /.intro image -->
            <div class="col-md-6 intro-pic wow slideInLeft">
                <h2>Калькулятор экономии</h2>
                <form id="calc">
                <table>
                    <tr><td><span class="highlight">Введите</span> средний пробег за месяц:</td><td><input name="a" class="form-control" onchange="this.value=this.value.replace(/([^0-9])/g,'');" onkeyup="var n=this.value.replace(/([^0-9])/g,''); if(n!=this.value) this.value=n;" type="text"></td></tr>
                    <tr><td>Цена в месяц пробега на бензине:</td><td><input name="b" class="form-control" type="text" disabled></td></tr>
                    <tr><td>Цена в месяц пробега на газе:</td><td><input name="total" class="form-control" size="20" type="text" disabled></td></tr>
                    <tr><td>Экономия в ГОД составит рублей:</td><td><input name="d" class="form-control" type="text" disabled></td></tr>
                    <tr><td colspan="2"><input value="Сбросить значения" onclick="reset(this.form)" type="button"  class="btn-default" ><input value="Рассчитать" onclick="calculator(this.form)" type="button"  class="btn-primary"></td></tr>
                </table>
                </form>
            </div>  

            <!-- /.intro content -->
            <div class="col-md-6 wow slideInRight">
                <h2><%=@text0.title%></h2>
                <%=@text0.description.html_safe%>
                <div class="btn-section"><a href="#feature" class="btn-default">Перейти на ГБО</a></div>
            </div>
        </div>            
    </div>
</div>

<!-- /.feature section -->
<div id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                <!-- /.feature title -->
                <h2><%=@textx.title%></h2>
                <%=@textx.description.html_safe%>
            </div>
        </div>
        <div class="row row-feat">
            <div class="col-md-4 text-center">

                <!-- /.feature image -->
                <div class="feature-img">
                    <img src="<%=@textx.image.url%>" alt="image" class="img-responsive wow fadeInLeft">
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                <%delay=0;count=0;@services.sort_by(&:sort).each do |service|%>
                <%= count>=2? (count=1;'</div><div class="row">'.html_safe) : (count+=1;'') %>
                <div class="col-sm-6 feat-list">
                    <i class="<%=service.slave.html_safe%> pe-5x pe-va wow fadeInUp" data-wow-delay="0.<%=delay%>s"></i>
                    <div class="inner">
                        <h4><%=service.title%></h4>
                        <%=service.description.html_safe%>
                    </div>
                </div>
                <%delay+=2;end%>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- /.feature 2 section -->
<div id="feature-2">
    <div class="container">
        <div class="row">

            <!-- /.feature content -->
            <div class="col-md-6 wow fadeInLeft">
                <h2><%=@text1.title%></h2>
                <%=@text1.description.html_safe%>
                <div class="btn-section"><a href="#download" class="btn-default">Написать нам</a></div>
            </div>

            <!-- /.feature image -->
            <div class="col-md-6 feature-2-pic wow fadeInRight">
                <%= image_tag @text1.image.url, alt: @text1.title, class: "img-responsive" if @text1.image_stored?%>
            </div>                
        </div>            

    </div>
</div>


<!-- /.download section -->
<div id="download">
    <div class="action fullscreen parallax" style="background-image:url('<%=@text2.image.url%>');" data-img-width="2000" data-img-height="1333" data-diff="100">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">

                    <!-- /.download title -->
                    <h2 class="wow fadeInRight"><%=@text2.title.html_safe%></h2>
                    <div class="download-text wow fadeInLeft"><%=@text2.description.html_safe%></div>

                    <!-- /.download button -->
                    <div class="download-cta wow fadeInLeft">
                        <a href="#contact" class="btn-secondary">Связаться с нами</a>
                    </div>
                </div>  
            </div>  
        </div>
    </div>
</div>

<!-- /.pricing section -->
<div id="package">
    <div class="container">
        <div class="text-center">

            <!-- /.pricing title -->
            <h2 class="wow fadeInLeft">ТАРИФЫ</h2>
            <div class="title-line wow fadeInRight"></div>
        </div>
        <div class="row package-option">
            <%count=0;@tarifs.sort_by(&:sort).each do |tarif|%>
            <%= count>=4? (count=1;'</div><div class="row package-option">'.html_safe) : (count+=1;'') %>
            <!-- /.package 1 -->
            <div class="col-sm-3">
                <div class="price-box wow fadeInUp">
                    <div class="price-heading text-center">
                        <!-- /.package icon -->
                        <i class="<%=tarif.slave%> pe-5x"></i>
                        <!-- /.package name -->
                        <h3><%=tarif.title%></h3>
                    </div>
                    <!-- /.price -->
                    <div class="price-group text-center">
                        <span class="dollar ot">от</span>
                        <span class="price"><%=tarif.value%></span>
                        <span class="time"><i class="fa fa-rub" aria-hidden="true"></i></span>
                    </div>
                    <%=tarif.description.html_safe%>
                    <!-- /.package button -->
                    <div class="price-footer text-center">
                        <a class="btn btn-price" href="#">ЗАКАЗАТЬ УСЛУГУ</a>
                    </div>  
                </div>
            </div>
            <%end%>
        </div>

    </div>
</div>

<!-- /.client section -->
<div id="client"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <%delay=0;Product.all.each do |product| %>
                <img alt="<%=product.title%>" src="<%=product.image.url%>" class="wow fadeInUp" data-wow-delay="0.<%=delay%>s">
                <%delay+=2;end%>
            </div>
        </div>
    </div>  
</div>

<!-- /.testimonial section -->
<div id="testi">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInLeft"><%=@badgas%></h2>
            <div class="title-line wow fadeInRight"></div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1"> 
                <div id="owl-testi" class="owl-carousel owl-theme wow fadeInUp">
                    <% Regard.all.each do |regard|%>
                    <%place,city=regard.slave.split ';'%>
                    <div class="testi-item">
                        <div class="client-pic text-center">
                            <%= image_tag regard.image.url, alt: regard.slave %>
                        </div>
                        <div class="box">
                            <div class="message text-center">
                                <%=regard.description.html_safe%>
                                <%if regard.url != '' or not regard.url.nil? %>
                                <br><a href="<%=regard.url%>" target="_blank">ссылка на источник</a>
                                <%end%>
                            </div>
                        </div>
                        <div class="client-info text-center">
                            <%=place%>, <span class="company"><%=city%></span>
                        </div>
                    </div>      
                    <%end%>
                </div>
            </div>  
        </div>  
    </div>
</div>
<!-- /.contact section -->
<div id="contact">
    <div class="contact fullscreen parallax" style="background-image:url('<%=@text3.image.url%>');" data-img-width="2000" data-img-height="1334" data-diff="100">
        <div class="overlay">
            <div class="container">
                <div class="row contact-row">

                    <!-- /.address and contact -->
                    <div class="col-sm-5 contact-left wow fadeInUp">
                        <h2><span class="highlight">Общая</span> информация</h2>
                        <ul class="ul-address">
                            <li><i class="pe-7s-map-marker"></i>1600 Amphitheatre Parkway, Mountain View</br>
                                California 55000
                            </li>
                            <li><i class="pe-7s-phone"></i>+1 (123) 456-7890</br>
                                +2 (123) 456-7890
                            </li>
                            <li><i class="pe-7s-mail"></i><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li><i class="pe-7s-look"></i><a href="#">www.yoursite.com</a></li>
                        </ul>   

                    </div>

                    <!-- /.contact form -->
                    <div class="col-sm-7 contact-right">
                        <form method="POST" id="contact-form" class="form-horizontal" action="contactengine.php" onSubmit="alert( 'Thank you for your feedback!' );">
                            <div class="form-group">
                                <input type="text" name="Name" id="Name" class="form-control wow fadeInUp" placeholder="Как к Вам обращаться" required/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Email" id="Email" class="form-control wow fadeInUp" placeholder="Email" required/>
                            </div>                  
                            <div class="form-group">
                                <textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp"  placeholder="Сообщение" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" value="Отправить" class="btn btn-success wow fadeInUp" />
                            </div>
                        </form>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map">
    <div class="container">
        <div class="text-center">
            <!-- /.pricing title -->
            <h2 class="wow fadeInLeft">Наше местоположение</h2>
            <div class="title-line wow fadeInRight"></div>
        </div>
        <div class="row package-option">
            <%=@code.description.html_safe%>       
        </div>            
</div>